# exclude everything

docker-elk/esdata1/*
elastalert/rules/*
docker-elk/.env_prod
docker-elk/.env

###########################################
# exception to the rule

!docker-elk/esdata1/.gitkeep 
!elastalert/rules/.gitkeep 

